*{
    border:  0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width:              100%;
    height:             100%;
    background-color: purple;
    display:            flex;
    justify-content:    center;
}

.site{
    width:              100%;
    max-width:          1300px;
    height:             100%;
    background-color: blue;
    display:            flex;
    justify-content:    center;
    margin:             0px 15px 0px 15px;
    
}

img{
    max-width:  250px;
    max-height: 350px;
    margin: 0px 15px 0px 15px;
    border: 3px solid rgb(255, 255, 255);
}

@media (max-width: 768px){
    .site{
        display:        flex;
        flex-direction: column;
    }
}


#img1:hover{
    background-image: url('img/img2.png');
}
#img2:hover{
    background-image: url('img/img2.png');
}
#img3:hover{
    background-image: url('img/img2.png');
}
#img4:hover{
    background-image: url('img/img2.png');
}